{%extends "base.html"%}
{%block body%}

<h2>Recent Issues</h2>

<table id="queues">

<tr><td colspan="7"></td></tr>

<tr>
  <td colspan="7" align="right">
  {%if newest%}<a class="novisit" href="{{newest}}">&laquo; Newest</a>{%endif%}
  {%if prev%}<a class="novisit" href="{{prev}}">&lsaquo; Newer</a>{%endif%}
  <b>{{first}}{%if last%} - {{last}}{%endif%}</b>
  {%if next%}<a class="novisit" href="{{next}}">Older &rsaquo;</a>
  {%else%}<span style="color:gray">Older &raquo;</span>{%endif%}
  </td>
</tr>

{%if not issues%}
<tr><td colspan="7"><span class="disabled">(None)</td></tr>
{%else%}
<tr align="left">
  <th>Id</th>
  <th>Subject</th>
  <th>Owner</th>
  <th>Reviewers</th>
  <th>Comments</th>
  <th>Drafts (mine)</th>
  <th>Last update</th>
</tr>
{%for issue in issues%}
<tr {%if issue.num_drafts%}style="color:red"{%endif%}>
  <td align="right"><div class="subject">{{issue.key.id}}</td>
  <td><div class="subject">
  <a class="noul" href="{%url codereview.views.show issue.key.id%}">{{issue.subject}}</a>
  </div></td>
  <td><div class="users">{{issue.owner|nickname}}</div></td>
  <td><div class="users">{{issue.reviewers|nicknames}}</div></td>
  <td align="center">{%firstof issue.num_comments%}</td>
  <td align="center"><b>{%firstof issue.num_drafts%}</b></td>
  <td><div class="date">{{issue.modified|timesince}}</div></td>
</tr>
{%endfor%}

<tr>
  <td colspan="7" align="right">
  {%if newest%}<a class="novisit" href="{{newest}}">&laquo; Newest</a>{%endif%}
  {%if prev%}<a class="novisit" href="{{prev}}">&lsaquo; Newer</a>{%endif%}
  <b>{{first}}{%if last%} - {{last}}{%endif%}</b>
  {%if next%}<a class="novisit" href="{{next}}">Older &rsaquo;</a>
  {%else%}<span style="color:gray">Older &raquo;</span>{%endif%}
  </td>
</tr>
{%endif%}

</table>

{%endblock%}
