{%extends "base.html"%}
{%block body%}

<h2>Recent Issues</h2>

<table id="queues">

<tr><td colspan="7"></td></tr>

<tr>
  <td colspan="7" align="right">
  {%if newest%}<a class="novisit" href="{{newest}}">&laquo; Newest</a>{%endif%}
  {%if prev%}<a class="novisit" href="{{prev}}">&lsaquo; Newer</a>{%endif%}
  <b>{{first}}{%if last%} - {{last}}{%endif%}</b>
  {%if next%}<a class="novisit" href="{{next}}">Older &rsaquo;</a>
  {%else%}<span style="color:gray">Older &raquo;</span>{%endif%}
  </td>
</tr>

{%if not issues%}
<tr><td colspan="7"><span class="disabled">(None)</td></tr>
{%else%}
{%include "issue_heading.html"%}
{%for issue in issues%}
{%include "issue_row.html"%}
{%endfor%}

<tr>
  <td colspan="7" align="right">
  {%if newest%}<a class="novisit" href="{{newest}}">&laquo; Newest</a>{%endif%}
  {%if prev%}<a class="novisit" href="{{prev}}">&lsaquo; Newer</a>{%endif%}
  <b>{{first}}{%if last%} - {{last}}{%endif%}</b>
  {%if next%}<a class="novisit" href="{{next}}">Older &rsaquo;</a>
  {%else%}<span style="color:gray">Older &raquo;</span>{%endif%}
  </td>
</tr>
{%endif%}

</table>

{%endblock%}
