<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>
    {%if issue%}{{issue.subject}} -{%endif%}
    {%if is_dev%}
    DEV SERVER
    {%else%}
    Code Review
    {%endif%}
  </title>
  <link type="text/css" rel="stylesheet" href="/static/styles.css">
  <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
<div align="right">
{%if is_dev%}
<div style="float:left; color:green; font-weight:bold">DEVELOPMENT SERVER</div>
{%else%}
<div style="float:left; font-weight:bold"><i>Rietveld</i> Code Review Tool</div>
{%endif%}
{%if user%}
<b>{{user.email}} ({{user|nickname:"x"}})</b>
|
{%if must_choose_nickname%}
<span style="color:red">Please choose your nickname with</span>{%endif%}
<a class="novisit" href="{%url views.settings%}">Settings</a>
|
{%endif%}
{%if is_dev%}
<a class="novisit" target="_blank" href="/_ah/admin">Admin</a>
|
{%endif%}
<a class="novisit" target="_blank"
   href="http://code.google.com/p/rietveld/wiki/CodeReviewHelp">Help</a>
|
<a class="novisit" target="_blank"
   href="http://code.google.com/p/rietveld/issues/list">Bug tracker</a>
|
<a class="novisit" target="_blank"
   href="http://groups.google.com/group/codereview-discuss">Discussion group</a>
|
{%if user%}
<a class="novisit" href="{{sign_out}}">Sign out</a>
{% else %}
<a class="novisit" href="{{sign_in}}">Sign in</a>
{%endif%}
</div>
<hr />
<div style="float:right"><font size="-2">({{counter}})</font></div>
<div>
{%if user%}
<a class="novisit" href="{%url views.new%}">Create Issue</a>
|
<a class="novisit" href="{%url views.index%}">My Issues</a>
|
<a class="novisit" href="{%url views.all%}">Recent Issues</a>
{%else%}
<a class="novisit" href="{%url views.index%}">Recent Issues</a>
{%endif%}
|
<a class="novisit" href="{%url views.repos%}">Repositories</a>
{%if not user%}
|
<a class="novisit" href="{{sign_in}}">Sign in</a>
with your <a href="https://www.google.com/accounts/NewAccount">Google
Account</a> to create issues and add comments
{%endif%}
</div>
<hr />

<div>
{%block body%}BODY GOES HERE{%endblock%}
</div>

<p />
<a target="_blank" href="http://code.google.com/appengine/"><img border="0"
 src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
 alt="Powered by Google App Engine" /></a>

</body>
</html>
