{%extends "repos_base.html"%}
{%block title1%}Edit Branch -{%endblock%}
{%block body%}
<h2>Edit Branch '{{branch.name}}' in Repository '{{branch.repo.name}}'</h2>

<form action="{%url codereview.views.branch_new branch.repo.key.id%}" method="post">
<table>
{{form}}
<tr><td><input type="submit" value="Update Branch"></td></tr>
</table>
</form>

<hr>

<form action="{%url codereview.views.branch_delete branch.key.id%}" method="post">
<table>
<tr><td><input type="submit" value="Delete This Branch"></td></tr>
</table>
</form>

{%endblock%}
