{%extends "base.html"%}
{%block body%}

<script language="JavaScript" type="text/javascript"><!--
function keyPressIntermediary(evt) {
  return M_keyPress(evt);
}
document.onkeypress = keyPressIntermediary;
{%if user%}
logged_in = true;
{%else%}
logged_in = false;
login_warned = false;
{%endif%}
// -->
</script>

<!-- Form used by in-line comment JS; XXX filled in by JS code -->
<form id="dainlineform" style="display: none;"
      action="{%url rietveld.views.inline_draft%}" method="post">
  <div class="comment-border" name="form-container">
    <input type="hidden" name="snapshot" value="XXX">
    <input type="hidden" name="lineno" value="XXX">
    <input type="hidden" name="side" value="XXX">
    <input type="hidden" name="issue" value="{{issue.key.id}}">
    <input type="hidden" name="patchset" value="{{patchset.key.id}}">
    <input type="hidden" name="patch" value="{{patch.key.id}}">
    <textarea name="text" cols="60" rows="5"></textarea><br>
    <input type="submit" name="save" value="Save"
           onclick="return M_submitInlineComment(this.form);">
    <input type="reset" name="cancel" value="Cancel"
           onclick="M_removeTempInlineComment(this.form)">
  </div>
  <div class="comment-border" style="padding: 0pt;"></div>
</form>
<a id="resizer" style="display:none;cursor:pointer"><img src="/static/zippyplus.gif"></a>

<h2>File: {{patch.filename}}</h2>

<div>
  <b>Issue:</b>
  <a id="upCL" href="{%url rietveld.views.show issue.key.id%}">{{issue.subject}}</a>
  ('u')
</div>
<div>
  <i>Created:</i> {{issue.created|timesince}} ago by <b>{{issue.owner|nickname}}</b>;
  <i>Last updated:</i> {{issue.modified|timesince}} ago
</div>
<div><i>SVN Base:</i> {{issue.base}}</div>
<div><i>Reviewers:</i> {{issue.reviewers|nicknames}}</div>
<div>
  <b>Patch Set: {%if patchset.message%}{{patchset.message}}{%endif%}</b>
</div>
{%if patchset.url%}
<div><i>Downloaded from:</i> <a href="{{patchset.url}}">{{patchset.url}}</a></div>
{%endif%}
<div>
  <i>Created:</i> {{patchset.created|timesince}} ago
  {%ifnotequal patchset.owner issue.owner%}
  by <b>{{patchset.owner|nickname}}</b>{%endifnotequal%}
</div>

<p>
{%comment%}
For some reason,
{%url rietveld.views.diff issue.key.id,patchset.key.id,patch.prev.key.id%}
doesn't work.  Go figure.  Bleah.  So use absolute URLs.
{%endcomment%}
{%if patch.prev%}
<a id="prevFile" 
   href="/{{issue.key.id}}/diff/{{patchset.key.id}}/{{patch.prev.key.id}}">
&laquo; {{patch.prev.filename}}</a> ('k'){%else%}
<span class="disabled">&laquo; no previous file</span>{%endif%}
|
{%if patch.next%}
<a id="nextFile"
   href="/{{issue.key.id}}/diff/{{patchset.key.id}}/{{patch.next.key.id}}">
{{patch.next.filename}} &raquo;</a> ('j'){%else%}
<span class="disabled">no next file &raquo;</span>{%endif%}
|
<a href="{%url rietveld.views.patch issue.key.id,patchset.key.id,patch.key.id%}">
View unified diff</a>
|
<a href="javascript:if (intraLineDiff) intraLineDiff.toggle()">
Toggle Intra-line Diffs</a> ('i')
|
<a href="javascript:M_expandAllInlineComments()">Expand Comments</a> ('e')
|
<a href="javascript:M_collapseAllInlineComments()">Collapse Comments</a> ('c')
|
<a id="show-all-inline"
   style="display:none"
   href="javascript:M_showAllInlineComments()">Show Comments</a>
<a id="hide-all-inline"
   href="javascript:M_hideAllInlineComments()">Hide Comments</a> ('s')
{%if user%}
|
<a class="novisit" href="{%url rietveld.views.publish issue.key.id%}">Publish+Mail
Comments</a>
{%endif%}
</p>

<h3>Side by Side Diff</h3>

<p><i>Use n/p to move between diff chunks;
N/P to move between comments.
{%if user%}
Double-click a line to add a draft in-line comment.
<br><span style="color:red">Draft comments are only viewable by you;</span>
use <a class="novisit" href="{%url rietveld.views.publish issue.key.id%}">Publish+Mail
Comments</a> to let others view them.
{%else%}
Please <a class="novisit" href="{{sign_in}}">Sign in</a>
to add in-line comments.
{%endif%}
</i></p>

<div style="position:relative" id="table-top">

<span id="hook-sel" style="display:none;"></span>

<table border="0" cellpadding="0" cellspacing="0" id="thecode"
       ondblclick="M_handleTableDblClick(event)">

<tr><th>OLD</th><th>NEW</th></tr>

{%for row in rows%}{{row|safe}}{%endfor%}

<tr><th>OLD</th><th>NEW</th></tr>

</table>

</div>

<p>
{%if patch.prev%}
<a id="prevFile"
   href="/{{issue.key.id}}/diff/{{patchset.key.id}}/{{patch.prev.key.id}}">
&laquo; {{patch.prev.filename}}</a> ('k'){%else%}
<span class="disabled">&laquo; no previous file</span>{%endif%}
|
{%if patch.next%}
<a id="nextFile"
   href="/{{issue.key.id}}/diff/{{patchset.key.id}}/{{patch.next.key.id}}">
{{patch.next.filename}} &raquo;</a> ('j'){%else%}
<span class="disabled">no next file &raquo;</span>{%endif%}
|
<a href="{%url rietveld.views.patch issue.key.id,patchset.key.id,patch.key.id%}">
View unified diff</a>
|
<a href="javascript:if (intraLineDiff) intraLineDiff.toggle()">
Toggle Intra-line Diffs</a> ('i')
|
<a href="javascript:M_expandAllInlineComments()">Expand Comments</a> ('e')
|
<a href="javascript:M_collapseAllInlineComments()">Collapse Comments</a> ('c')
|
<a href="javascript:M_toggleAllInlineComments()">
Toggle Comments</a> ('s')
{%if user%}
|
<a class="novisit" href="{%url rietveld.views.publish issue.key.id%}">Publish+Mail
Comments</a>
{%endif%}
</p>

</script>
<script language="JavaScript" type="text/javascript"><!--
var old_snapshot = "old";
var new_snapshot = "new";
var intraLineDiff = new M_IntraLineDiff();
var hookState = new M_HookState(window);
hookState.updateHooks();
// -->
</script>
{%endblock%}
