<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
	<title>An Error Occurred - Code Review</title>
	<style>
	  body {
	    font-family: Arial, Helvetica, sans-serif;
	    background-color: #fff;
	  }
	  .technical {
	    color: #666;
	  }
	</style>
  </head>
  <body>
	<div style="font-weight:bold; font-size: 83%;">
	  <i>Rietveld</i> Code Review Tool
	</div>
	<div style="margin: 20px;">
	  <h1>Sorry, an error occurred...</h1>
	  <p>{{msg}}</p>
	  <p class="technical">Details: {{technical}}</p>
	  <p>Please post a message to the <a href="http://groups.google.com/group/codereview-discuss">discussion group</a> if you have any questions.</p>
	</div>
  </body>
</html>
