{%extends "base.html"%}

{%block mainmenu%}
  <a href="{%url codereview.views.index%}" class="active">Issues</a>
  <a href="{%url codereview.views.repos%}">Repositories</a>
{%endblock%}


{%block mainmenu2%}
  {%if user%}
    <a href="{%url codereview.views.new%}">Create Issue</a>
    |
    <a href="{%url codereview.views.mine%}">My Issues</a>
    |
    <a href="{%url codereview.views.all%}">Recent Issues</a>
    |
    <a href="{%url codereview.views.starred%}">Starred Issues</a>
  {%else%}
    <a class="novisit" href="{%url codereview.views.index%}">Recent Issues</a>
    |
    <a class="novisit" href="{{sign_in}}">Sign in</a>
    with your <a href="https://www.google.com/accounts/NewAccount">Google
    Account</a> to create issues and add comments
  {%endif%}
{%endblock%}


{%block body%}
  <h2>
    {%include "issue_star.html"%}
    Issue <a href="{%url codereview.views.show issue.key.id%}"
               onmouseover="M_showPopUp(this, 'popup-issue');">
            {{issue.key.id}}</a>:
    {{issue.subject}} {%if issue.closed %} (Closed) {%endif%}
  </h2>

  <table class="issue-details" border="0" width="100%">
    <tr valign="top">

      <td class="meta" width="20%">
        {%block issue_actions%}
          <div>
            {%ifequal issue.owner user %}
              <a class="novisit"
                 href="{%url codereview.views.edit issue.key.id%}">
                Edit Issue
              </a>
            {%else%}
              <span class="disabled">Can't Edit</span>
            {%endifequal%}
            <br/>
            {%if user%}
              <a class="novisit"
                 href="{%url codereview.views.publish issue.key.id%}">
                Publish+Mail Comments
              </a> ('m')
            {%else%}
              <span class="disabled">Can't Publish+Mail</span>
            {%endif%}
            {%if last_patchset and first_patch%}
              <br/>
              <a class="novisit"
                 href="{%url codereview.views.diff issue.key.id,last_patchset.key.id,first_patch.key.id%}">
                <b>Start Review</b>
              </a>
            {%endif%}
          </div>
        {%endblock%}
        <div class="issue_details_sidebar">
          <div><b>Created:</b><br/>
            {{issue.created|timesince}} ago by {{issue.owner|show_user}}
          </div>
          <div><b>Modified:</b><br/>
            {{issue.modified|timesince}} ago
          </div>
          <div><b>Reviewers:</b><br/>
            {{issue.reviewers|show_users}}
          </div>
          <div><b>SVN Base:</b><br/>
            {%firstof issue.base%}
          </div>
        </div>
      </td>

      <td style="padding-left: .8em; padding-right: .8em;" width="80%">
        {%block issue_body%}BODY GOES HERE{%endblock%}
      </td>
    </tr>
  </table>
{%endblock%}


{%block popup%}
  {%if issue%}
    <div class="popup" id="popup-issue">
      <b>Issue {{issue.key.id}}: {{issue.subject}}
	{%if issue.closed %} (Closed) {%endif%}</b><br/>
      Created {{issue.created|timesince}} ago by {{issue.owner|nickname}}<br/>
      Modified {{issue.modified|timesince}} ago<br/>
      Reviewers: {{issue.reviewers|nicknames}}<br/>
      SVN Base: {{issue.base}}<br/>
      Comments: {{issue.num_comments}}
      {%if issue.num_drafts%} <span style="color: red;">+
	{{issue.num_drafts}} drafts</span>{%endif%}
    </div>
  {%endif%}
{%endblock%}
