{%extends "issue_base.html"%}
{%block body%}

<script language="JavaScript" type="text/javascript"><!--
function keyPressIntermediary(evt) {
  return M_keyPress(evt);
}
document.onkeypress = keyPressIntermediary;
// -->
</script>
<div style="float: left;">
  <h2 style="margin-bottom: 0em; margin-top: 0em;">Issue <a href="{%url codereview.views.show issue.key.id%}" onmouseover="M_showPopUp(this, 'popup-issue');" id="upCL">{{issue.key.id}}</a>:
  {{issue.subject}} {%if issue.closed %} (Closed) {%endif%}</h2>
  <h3>Unified Diff</h3>
  <div style=""><b>File: {{patch.filename}}</b></div>
  <div style="margin-top: .4em;">
    <b>Patch Set: {%if patchset.message%}{{patchset.message}}{%endif%}</b>
    <span class="extra">
    Created {{patchset.created|timesince}} ago
    {%ifnotequal patchset.owner issue.owner%}
    by <b>{{patchset.owner|show_user}}</b>{%endifnotequal%}
    {%if patchset.url%},
    Downloaded from: <a href="{{patchset.url}}">{{patchset.url}}</a>
    {%endif%}
    </span>
  </div>
</div>
<div style="float: right; color: #333333; background-color: #eeeeec; border: 1px solid lightgray; -moz-border-radius: 5px 5px 5px 5px; padding: 5px;">
  <div>
    Jump to: <select onchange="M_jumpToPatch(this, {{issue.key.id}}, {{patchset.key.id}}, true);">
      {% for jump_patch in patchset.patch_set %}
        <option value="{{jump_patch.key.id}}"
         {%ifequal jump_patch.key.id patch.key.id%} selected="selected"{%endifequal%}>{{jump_patch.filename}}</option>
      {% endfor %}
    </select>
  </div>
  <div style="margin-top: 5px;">
    <a href="{%url codereview.views.diff issue.key.id,patchset.key.id,patch.key.id%}">
    View side by-side-diff with in-line comments</a>
  </div>
  <div style="margin-top: 5px;">
    <a href="{%url codereview.views.download_patch issue.key.id,patchset.key.id,patch.key.id%}"
       title="Download patch for {{patch.filename}}">
      Download patch
    </a>
  </div>
</div>
<div style="clear: both;"></div>

<div class="code" style="margin-top: .8em; display: table; margin-left: auto; margin-right: auto;">
<div class="codenav">
{%comment%}
For some reason,
{%url codereview.views.patch issue.key.id,patchset.key.id,patch.prev.key.id%}
doesn't work.  Go figure.  Bleah.  So use absolute URLs.
{%endcomment%}
{%if patch.prev%}
<a id="prevFile"
   href="/{{issue.key.id}}/patch/{{patchset.key.id}}/{{patch.prev.key.id}}">
&laquo; {{patch.prev.filename}}</a> ('k'){%else%}
<span class="disabled">&laquo; no previous file</span>{%endif%}
|
{%if patch.next%}
<a id="nextFile"
   href="/{{issue.key.id}}/patch/{{patchset.key.id}}/{{patch.next.key.id}}">
{{patch.next.filename}} &raquo;</a> ('j'){%else%}
<span class="disabled">no next file &raquo;</span>{%endif%}
</div>


<pre style="background-color: white; border: 1px solid lightgray; -moz-border-radius: 5px 5px 5px 5px; padding: 5px;">
{%for line in patch.lines%}{{line}}{%endfor%}
</pre>

<div class="codenav">
{%if patch.prev%}
<a id="prevFile"
   href="/{{issue.key.id}}/patch/{{patchset.key.id}}/{{patch.prev.key.id}}">
&laquo; {{patch.prev.filename}}</a> ('k'){%else%}
<span class="disabled">&laquo; no previous file</span>{%endif%}
|
{%if patch.next%}
<a id="nextFile"
   href="/{{issue.key.id}}/patch/{{patchset.key.id}}/{{patch.next.key.id}}">
{{patch.next.filename}} &raquo;</a> ('j'){%else%}
<span class="disabled">no next file &raquo;</span>{%endif%}
</div>
</div>
{%endblock%}
