{%extends "base.html"%}
{%block body%}

<script language="JavaScript" type="text/javascript"><!--
function keyPressIntermediary(evt) {
  return M_keyPress(evt);
}
document.onkeypress = keyPressIntermediary;
// -->
</script>

<h2>File: {{patch.filename}}</h2>

<div>
  <b>Issue:</b>
  <a id="upCL" href="{%url views.show issue.key.id%}">{{issue.subject}}</a>
  ('u')
</div>
<div>
  <i>Created:</i> {{issue.created|timesince}} ago by <b>{{issue.owner|nickname}}</b>;
  <i>Last updated:</i> {{issue.modified|timesince}} ago
</div>
<div><i>SVN Base:</i> {{issue.base}}</div>
<div><i>Reviewers:</i> {{issue.reviewers|nicknames}}</div>
<div>
  <b>Patch Set: {%if patchset.message%}{{patchset.message}}{%endif%}</b>
</div>
{%if patchset.url%}
<div><i>Downloaded from:</i> <a href="{{patchset.url}}">{{patchset.url}}</a></div>
{%endif%}
<div>
  <i>Created:</i> {{patchset.created|timesince}} ago
  {%ifnotequal patchset.owner issue.owner%}
  by <b>{{patchset.owner|nickname}}</b>{%endifnotequal%}
</div>

<p>
{%comment%}
For some reason,
{%url views.patch issue.key.id,patchset.key.id,patch.prev.key.id%}
doesn't work.  Go figure.  Bleah.  So use absolute URLs.
{%endcomment%}
{%if patch.prev%}
<a id="prevFile"
   href="/{{issue.key.id}}/patch/{{patchset.key.id}}/{{patch.prev.key.id}}">
&laquo; {{patch.prev.filename}}</a> ('k'){%else%}
<span class="disabled">&laquo; no previous file</span>{%endif%}
|
{%if patch.next%}
<a id="nextFile"
   href="/{{issue.key.id}}/patch/{{patchset.key.id}}/{{patch.next.key.id}}">
{{patch.next.filename}} &raquo;</a> ('j'){%else%}
<span class="disabled">no next file &raquo;</span>{%endif%}
|
<a href="{%url views.diff issue.key.id,patchset.key.id,patch.key.id%}">
  View side-by-side diff with inline comments</a>
</p>

<h3>Unified Diff</h3>

<pre>
{%for line in patch.lines%}{{line}}{%endfor%}
</pre>
{%endblock%}
