{%extends "repos_base.html"%}
{%block title1%}Repositories -{%endblock%}
{%block body%}
<h2>Repositories and Branches</h2>

{%for br in branches%}
{%ifchanged%}<h3>Repository: {{br.repo.name}}</h3>
{%if user%}
<p>(<a href="{%url codereview.views.branch_new br.repo.key.id%}">add branch</a>)
{%endif%}
{%endifchanged%}</p>
{{br.category}} {{br.name}} {{br.url}}
{%ifequal br.owner user%}
&nbsp; (<a href="{%url codereview.views.branch_edit br.key.id%}">edit</a>)
{%endifequal%}
<br>
{%endfor%}

{%endblock%}
