{%extends "base.html"%}
{%block mainmenu%}
<a href="{%url codereview.views.index%}">Issues</a>
<a href="{%url codereview.views.repos%}">Repositories</a>
<a href="{%url codereview.views.search%}" class="active">Search</a>
{%endblock%}

{%block title1%}Search -{%endblock%}
{%block head%}{{form.media}}{%endblock%}
{%block body%}
<h2>Search</h2>

<form action="{%url codereview.views.search%}" method="get">
<table>
{{form}}
<tr><td><input type="submit" value="Search"></td></tr>
</table>
</form>
{%endblock%}
