{%extends "base.html"%}
{%block title1%}Set Client ID and Secret -{%endblock%}
{%block head%}{{form.media}}{%endblock%}
{%block body%}

{%if form.errors%}
<h2>There Were Errors!</h2>
{%else%}
<h2>Set Client ID and Secret</h2>
{%endif%}

<form action="{%url codereview.views.set_client_id_and_secret%}"
      method="post" enctype="multipart/form-data" id="set-client-id-and-secret">
<input type="hidden" name="xsrf_token" value="{{xsrf_token}}">
<table>
{{form}}
<tr><td><input type="submit" value="Set Values"></td></tr>
</table>
</form>

{%endblock%}

